@font-face {
  font-family: 'Helvetica';
  src: url('../assets/fonts/Helvetica.ttf') format('truetype');
}

@font-face {
  font-family: 'Helvetica-bold';
  src: url('../assets/fonts/Helvetica-Bold.ttf') format('truetype');
}

body {
  margin: 0;
}

* {
  font-family: 'Helvetica';
  box-sizing: border-box;
  /* font-family: "Poppins", sans-serif; */
}

.position {
  position: relative;
  z-index: 1;
}

.selos {
  background-image: url("../assets/unite.png");
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  /* margin: auto;
    display: flex;
    width: min-content;
    margin: auto;
    height: 100vh;
    align-items: center; */
}

.logos {
  display: none;
}

.svg {
  width: 200px;
  height: fit-content;
}

.text-block {
  padding: 100px 15px;
  z-index: 1;
  background-color: #f07e25;
  width: 100%;
  position: relative;
  text-align: justify;
}

.up-divider {
  position: absolute;
  left: 0;
  width: 100%;
  top: -1px;
}

.down-divider {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: -1px;
  height: 45px;
}

.text-block h1 {
  padding-bottom: 50px;
  text-transform: uppercase;
  font-size: 55px;
  color: #fff;
  max-width: 1200px;
  margin: 5px auto;
  text-align: center;
  /* margin-left: 170px; */
  font-family: 'Helvetica-Bold';

  display: flex;
  gap: 9px;
  justify-content: center;
}

.text-block h1 span {
  display: flex;
  color: #002172;
}

/* .text-block h1 span a { */
  /* color: #e60000; */
/* } */

.text-block p {
  color: #fff;
  font-size: 20px;
  max-width: 1200px;
  margin: 5px auto;
}

.text-block > span {
  display: block;
  margin: 20px;
}

.inicia {
  display: grid;
  gap: 60px;
  position: absolute;
  margin: auto;
  text-align: center;
  width: max-content;

  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.inicia p {
  margin: 0;
}

.text-cinza {
  font-size: 20px;
  color: #4F4F4F;
}

.text-principal {
  font-family: 'Helvetica-Bold';
  font-size: 45px;
  color: #f07e25;
}

.confetes {
  background-color: white;
  position: relative;
  height: 100vh;
}

/* #start-confetti {
  cursor: pointer;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  border: solid 1px #f07e25;
  border-radius: 5px;
  padding: 50px;
}

#start-confetti.active {
  background-color: #f07e25 !important;
}

#start-confetti:hover {
  background-color: #f07e25;
}

#confetti-icon-before,
#start-confetti.active #confetti-icon-after {
  display: block;
}

#start-confetti.active #confetti-icon-before,
#confetti-icon-after {
  display: none;
} */

.icon-comemore {
  width: 150px;
}

#canvas {
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100%;
  margin: 0;
}

#canvas.active {
  z-index: 1;
  position: relative;
}

@media (max-width: 650px) {
  .logos {
    display: block;
    margin: auto;
    width: 90%;
  }

  .selos {
    display: grid;
    background-image: none;
  }

  .count-down {
    width: 100%;
    height: 200px;
  }

  .inicia {
    width: fit-content;
    gap: 40px;
  }

  .text-block h1 {
    font-size: 40px;
  }
  
  /* .text-cinza {
    font-size: 16px;
  } */
  
  .text-principal {
    font-size: 40px;
  }

  #start-confetti {
    padding: 20px;
  }

  .icon-comemore {
    width: 100;
  }
}
