@font-face {
  font-family: 'Helvetica';
  src: url('../assets/fonts/Helvetica.ttf') format('truetype');
}

@font-face {
  font-family: 'Helvetica-bold';
  src: url('../assets/fonts/Helvetica-Bold.ttf') format('truetype');
}

body {
  margin: 0;
}

* {
  font-family: 'Helvetica';
  box-sizing: border-box;
  /* font-family: "Poppins", sans-serif; */
}

.position {
  position: relative;
  z-index: 1;
}

.selos {
  display: grid;
  place-content: center;
  /* background-image: url("../assets/unite.png"); */
  min-height: 100vh;
  /* background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat; */
  /* margin: auto;
    display: flex;
    width: min-content;
    margin: auto;
    height: 100vh;
    align-items: center; */
}

.logos {
  width: 700px;
  /* display: none; */
}

.svg {
  width: 200px;
  height: fit-content;
}

.text-block {
  padding: 100px 15px;
  z-index: 1;
  background-color: #f07e25;
  width: 100%;
  position: relative;
  text-align: justify;
}

.up-divider {
  position: absolute;
  left: 0;
  width: 100%;
  top: -1px;
}

.down-divider {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: -1px;
  height: 45px;
}

.text-block h1 {
  font-size: 80px;
  padding-bottom: 50px;
  text-transform: uppercase;
  color: #fff4ca;
  max-width: 1200px;
  margin: 5px auto;
  text-align: center;
  font-family: 'Helvetica-Bold';

  display: flex;
  gap: 9px;
  justify-content: center;
}

.text-block h1 a {
  color: #f8c132;
}

.text-block p {
  color: #fff4ca;
  font-size: 20px;
  max-width: 1200px;
  margin: 5px auto;
  text-align: left;
}

.text-block>span {
  display: block;
  margin: 20px;
}

.inicia {
  display: grid;
  gap: 20px;
  position: absolute;
  margin: auto;
  text-align: center;
  width: max-content;

  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.inicia p {
  margin: 0;
  text-transform: uppercase;
}

.text-cinza {
  font-size: 70px;
  font-family: 'Helvetica-Bold';
  color: #4F4F4F;
}

.text-principal {
  font-family: 'Helvetica-Bold';
  font-size: 57px;
  color: #f07e25;
}

.confetes {
  background-color: white;
  position: relative;
  min-height: 100vh;
}

.logo-hashtag {
  display: grid;
  align-items: center;
  grid-template-columns: 50% 48%;
  gap: 20px;
}

.logo-hashtag p {
  font-family: 'Helvetica-bold';
  color: #f8c132;
  text-align: end;
  font-size: 60px;
  text-transform: capitalize !important;
}

.logo-hashtag a {
  font-family: 'Helvetica-bold';
  color: #f9520f;
}


.logo-hashtag img {
  width: 100%;
}

.icon-comemore {
  width: 150px;
}

#canvas {
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100%;
  margin: 0;
}

#canvas.active {
  z-index: 1;
  position: relative;
}

@media (max-width: 1050px) {
  .inicia{
    width: unset;
  }

  .logo-hashtag {
    grid-template-columns: none;
  }

  .logo-hashtag img {
    max-width: 700px;
    margin: auto;
  }

  .logo-hashtag p {
    text-align: center;
  }
}

@media (max-width: 650px) {
  .logos {
    display: block;
    margin: auto;
    width: 90%;
  }

  /* .selos {
    display: grid;
    background-image: none;
  } */

  .count-down {
    width: 100%;
    height: 200px;
  }

  .inicia {
    width: fit-content;
    gap: 40px;
    padding: 0px 10px;
  }

  .text-block h1 {
    display: block;
    font-size: 28px;
  }

  .text-cinza {
    font-size: 20px;
  }

  .text-principal {
    font-size: 16px;
  }

  .logo-hashtag {
    grid-template-columns: none;
  }

  #start-confetti {
    padding: 20px;
  }

  .icon-comemore {
    width: 100;
  }

  .logo-hashtag p {
    font-size: 35px;
}
}